<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io('http://192.168.0.8:3000');
	socket.emit('join', '<%= sala %>');
	socket.on('send-client', function(msg){
		document.getElementById('chat').innerHTML += msg;
    });
	var enviar = function(){
		var msg = document.getElementById("msg").value;
		socket.emit('send-server', msg);
		document.getElementById("msg").value = '';
	};
</script>
<header class="row-fluid text-center">
	<h2>nTalk - Chat</h2>
</header>
<section class="row-fluid">
	<div class="well span6 offset3">
        <pre id='chat' class="pre-scrollable" style="width:auto;height:250px;"></pre>
        <div class="input-append">
            <input type="text" id="msg" class="input-xlarge" placeholder="Mensagem">
            <button onclick="enviar();" class="btn btn-success">Enviar</button>
            <a href="/contatos" class="btn btn-inverse">Sair do chat</a>
        </div>
    </div>
</section>
<% include ../exit %>
<% include ../footer %>